* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mountains of Christmas';font-size: 22px;
}


/* Body Styles */
body {
  color: #f6e6ae;
  line-height: 1.6;
}

/* Main Container */
.container {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-image: url('bg3.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Section */
#header {
  text-align: center;
  padding: 1rem 0;
  background-color: #25482a;
  color: f6e6ae;
  width: 60%;
  margin: auto;
}

#header h1 {
  font-size: 3rem;
}

/* Empty space for banner */
.empty {
  height:400px;
  width: 100%;
}

/* How It Works Section */
#how-it-works {
  padding: 2rem 0;
  text-align: center;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.step {
  background-color: #9d131a;
  color: f6e6ae;
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 5rem;
}

/* Footer Styles */
footer {
  background-color: #272320;
  padding: 10px;
  color: #f6e6ae;
  font-size: 0.9em;
  text-align: center;
}
.form-container {
  max-width: 800px;
  margin: auto;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
}